body {
    font-family: 'FF Mark Regular',sans-serif;
    color: #424242;
    font-size: 14px;
}

.card-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 5rem;
}

.border-dash {
    border: 2px dashed #6c757d;
}

.text-theme {
    color: #00beff;
}

.text-title {
    font-family: 'FF Mark Ultra',sans-serif;
    color: #00beff;
    font-size: 30px;
    line-height: 40px;
    font-weight: 900;
}

.form-label {
    font-family: 'FF Mark Bold', sans-serif!important;
    color: #424242!important;
    font-size: 14px!important;
    font-weight: 700;
    margin-top: 10px;
    display: inline-block;
}